    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- STRING INTERPOLATION -->
<h1>{{welcome}}</h1>
<h4>Product Price</h4>
<input #price type="number" [value]="productPrice">
<h4>Discount Amount (%)</h4>
<input #discount type="number" [value]="discountAmount">
<br>
<button (click)="calcFinalPrice(price.value, discount.value)">Calculate</button>
<h3>{{finalPrice}}</h3>

<router-outlet></router-outlet>